{% extends 'adminbasepage.html' %} {% block title %} Ajouter une Demande {% endblock %}
{% block body %}

<h1>Ajouter une Demande</h1>

<style>
    .inputDesc {
        width: 200px;
    }
</style>

<div class="demande-form">
    <form method="post" action="start.php?c=demande&t=insert" enctype="multipart/form-data">

        <label for="engin">Engin :</label>
        <select name="engin" id="engin">
            {% for engin in engins %}
                <option value="{{ engin.id }}">{{ engin.fullnom }}</option>
            {% endfor %}
        </select><br />
        <label for="urgence">Niveau d'urgence :</label>
        <select name="urgence" id="urgence">
            {% for urgence in urgences %}
                <option value="{{ urgence.id }}">{{ urgence.niveau }}</option>
            {% endfor %}
        </select><br />

        <label for="coment">Commentaire :</label>
        <textarea name="coment" id="coment" style='width: 200px; height: 100px;'></textarea><br />

        <input type="submit" value="Ajouter la Demande" />
    </form>
</div>
{% endblock %}